.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
  padding: 0 18px 24px 18px;

  border-bottom: 1px solid rgb(208, 208, 208);
}

.image {
  height: 80px;
  width: 80px;
  object-fit: cover;

  border-radius: 50%;
}

.info {
  display: flex;
  gap: 18px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  margin: 0;
}

.nickname {
  margin: 0;
}

.button {
  font-size: 20px;
  background: none;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;

  padding: 12px;
}